doctype html
html
  head
    title(id="app-title")= title
    link(rel='stylesheet', href='/css/main.css',id="style-main")
    script(defer, src='/js/main.js',id="script-main")
  body
    #app
    block content
